@import '../../styles/index';

.footer {
    background: var(--color-bg-footer);
    max-width: 100%;
    min-height: 4.063rem;

    &__container {
        flex-shrink: 0;
        max-width: var(--screen-desktop);
    }
}
