@import '../../styles/index';

.main {
    background: var(--color-bg-page-main);
    height: 100%;
    max-width: var(--screen-desktop);
    padding-top: 5rem;

    @media (max-width: 576px) {
        padding-top: 1.25rem;
    }
}
