@import '../../styles/index';

.without-favourites {
    align-items: center;
    background: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;

    &__wrap-hint {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 5.5rem;
        }
    }

    &__arrow {
        height: 2rem;
        left: -2.625rem;
        position: absolute;
        top: -1.2rem;
        width: 2.375rem;
    }

    &__icon-favourites {
        height: 2.083rem;
        pointer-events: none;
        width: 1.458rem;
    }

    &__wrap-hint > * {
        margin-bottom: 1.458rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .input-search {
        margin-bottom: 3.188rem;
    }
}
