@import '../../styles/index';

.layout {
    max-width: var(--size-screen-desktop);
    min-height: 100%;

    &__container {
        display: inline-flex;
        flex-direction: column;
        height: 43.75rem;
        width: 100%;
    }
}
